.carousel-container {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
  }
  
  .slider-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .carousel-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: #555;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: #333;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
  }
  
  .carousel-control-prev-icon svg,
  .carousel-control-next-icon svg {
    width: 200%;
    height: 200%;
  }
  